.container {
    max-width: 700px;
    height: 300px;
    margin: 100px;
}
.range {
    height: 8px;
    background-color: blueviolet;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    
}

.range__rodfrom,
.range__rodto {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgb(212, 243, 33);
    cursor: pointer;
    user-select: none;
    transform: translate(-50%,-25%);
    border-radius: 50%;
}

.range__rodto {
    background-color: rgb(80, 221, 80);
}

.range__valFrom,
.range__valTo {
    display: inline-flex;
    margin: 15px;
    
} 
body {
    
}