.container {
    width: 320px;
    height: 300px;
    margin: 100px;
}
.range {
    height: 8px;
    background-color: blueviolet;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
}

.range__handler {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: chartreuse;
    cursor: pointer;
    user-select: none;
    transform: translate(-50%,-25%);
    border-radius: 50%;
}

body {
    width: 1000px;
    height: 1000px;
}